main {
  font-size: 1.6em;
  padding: 0 0.5em;
}

main h1 {
  font-family: Copperplate, 'Marcellus SC', times, serif;
  font-weight: 300;
  font-size: 2em;
  letter-spacing: -2px;
  margin-bottom: 0.5em;
}

main h2 {
  font-weight: 400;
  font-size: 1.6em;
  margin-bottom: 0.5em;
}

main p {
  font-size: 1.2em;
  font-weight: lighter;
  margin: 0 0 2em;
}

@media (min-width: 600px) {
  main {
    padding: 0 1.5em;
  }
}
