#officers {
  padding: 0;
  background-color: white;
  margin: 0;
  border: none;
}

.flex-container {
  padding: 0;
  margin: 0;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-justify-content: space-around;
  -webkit-flex-wrap: wrap;
  flex-flow: row wrap;
  justify-content: space-around;
}

.council-profile {
  width: 100%;
  max-width: 450px;
  padding: 0;
  margin: 0.5em 0;
  background-color: #FBFBFB;
  border: solid #D8D8D8 1px;
}

.emblem-container {
  padding: 0;
  margin: 0 34%;
}

.bio-emblem {
  width: 40px;
  position: absolute;
  margin-top: -4px;
}

.bio-pic {
  float: left;
  width: 39%;
  padding: 0;
  margin: 1%;
}

.bio-pic img {
  width: 100%;
}

.bio-title {
  float: right;
  width: 57%;
  margin: 1% 1% 1em;
  padding: 0;
  /*background-color: #F3EFE5;*/
  text-align: center;
}

.bio-title h1 {
  padding: 0;
  margin: 0.5rem 0 0;
}

.bio-title h1 {
  font-family: Copperplate, 'Marcellus SC', times, serif;
  font-weight: 300;
  font-size: 2em;
  margin: 0 0 0.25em;
  letter-spacing: -2px;
}

.bio-title h2 {
  padding: 0;
  margin: 0;
  font-weight: 300;
  font-size: 1.25em;
}

.council-profile p {
  clear: both;
  margin: 0 2% 1%;
  padding: 0;
  font-family: 'Open Sans';
  font-size: 1em;
}

@media (min-width: 340px) {
  .bio-title {
    margin-top: 1.75em;
  }
}

@media (min-width: 450px) {
  .bio-title {
    margin-top: 1.5em;
  }

  .council-profile p {
    clear: none;
  }

  .council-profile p {
    text-align: center;
  }
}

@media (min-width: 1000px) {
  #officers {
    padding: 0.75em;
    margin: 0 0.5em 1em;
    border: solid #D8D8D8 1px;
  }

  .council-profile {
    width: 450px;
  }
}
